body {
	background-color: #e0fbfc;
	font-family: sans-serif;
}

h1 {
	font-family: 'Alata',sans-serif;
	font-weight: bold;
	font-size: 35px;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 25px;
}

h4 {
	margin-left: -50px;
}

p {
	font-size: 15px
}
.about-me{
	text-align: center;
}

.More {
	text-align: center;
}

#Profile {
	margin-bottom: 5px;
}

